body {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.frame {
    width: 620px;
    height: 490px;
    border-radius: 15px;
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-color: #ff9966;
}

.header p {
    margin-left: 20px;
}

.close {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    cursor: pointer;
    background-color: red;
}

.inputs {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftInput {
    width: 280px;
    height: 28px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.rightInput {
    width: 280px;
    height: 28px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.friendsArea {
    width: 100%;
    height: 360px;
    display: flex;
}

.allFriends {
    width: 100%;
    height: 100%;
    border-right: 1px solid #f0f0f0;
    background-color: white;
}

.allFriendsHeader {
    width: 280px;
    height: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.selectedFriends {
    width: 100%;
    height: 100%;
    border-left: 1px solid #f0f0f0;
    background-color: white;
}

.selectedFriendsHeader {
    width: 280px;
    height: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.listAll {
    height: 325px;
    overflow: scroll;
}

.listSelected {
    height: 325px;
    overflow: scroll;
}

.friend {
    width: 260px;
    height: 55px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.friend:hover {
    background-color: #f0f0f0;;
}

.imageAndName {
    display: flex;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    margin-left: 10px;
}

.add {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
}

.wrapperButton {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapperButton button {
    margin-right: 40px;
}